@media screen and (max-width: 1050px){
    .highlight-small {
        flex-direction: column;
      }
  
      .highlight-small .highlight {
        width: auto;
      }
}

  #demo-description {
    margin-top: 0%;
  }