/*universal styles*/
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;

  background-image: url(grain-1.png);
  background-position: center;
  background-size: cover;
}

main {
  /* shorter than (100vh - (height of header)) -> avoid double scroll bar*/
  /* position: fixed; */
  /* bottom: 0; */
  /* height:100vh; */
  height: calc(100vh - 8vw); /* Subtract the height of the header */
  width: 100%;

  /*scroll to snap*/
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;

  /* background-image: url(grain-1.png); */
  
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;

  margin-top: 8vw;
}

/* hide inside scrollbar */
main::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width:865px){
  main {
      /* height: 100vh; */

      margin-top: 8vw;
  }
}

section {
  display: block;
  min-height: 100vh;
  padding: 0% 8%;

  scroll-snap-align: start;
  scroll-margin: 5vh;
}

  #first-header{
  /*to avoid first header being hidden */
    /* margin: 10vh 0vw 0vw 0vw; */
    padding: 0vw;
  }

  .project-header {
    text-align: center;

    /* margin: 0%; */
  }

  .project-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 1.5vw; */

    /* scroll-margin-top: 22vh; to avoid title being hidden when entered from link */
  }

  .project-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vw;
  }

  .project-box {
    background-color: white;
    width: 100%;
    /* padding: 2vw; */
    border-radius: 15px;
  }

  .project-box .project-name {
    transition: 0.5s;
  }

  .project-images:hover img {
    width: 100%;
    height: auto;

    /* transform: scale(1.3); */
  }

  .project-images, .project-img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0px 0px;
  }

  .project-name {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    height: 5vh;
  }

  .project-box:hover .project-name{
    transform: translateY(2px);
  }

  @media screen and (min-width:851px){
    .project-content a {
      width: 40%;
    }
  }

  @media screen and (max-width:850px){
    .project-content {
      flex-direction: column;

      /* scroll-margin-top: 30vh; to avoid title being hidden when entered from link */
    }
  }

  @media screen and (max-width:350px){
    #app-and-website-design {
      /* scroll-margin-top: 40vh; to avoid title being hidden when entered from link */
    }
  }